header, footer{ background-color: lightyellow; }
nav, aside{ background-color: pink; }
article{ background-color: lightblue; }
#rose{ background-color: lightpink; }
body{ background-color: lightgrey; }
